.user-item {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    border: 1px solid grey;

    &__avatar {
        height: 200px;
        width: 200px;
    }

    &__general-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
}
